:root {

    /* cores */
    --cor-primaria: #1f6f5c;
    --cor-secundaria: #f4b942;
    --cor-destaque: #d95d39;
    --cor-fundo: #f5f5f5;
    --cor-superficie: #ffffff;
    --cor-texto: #222222;
    --cor-texto-suave: #666666;
    
    /* tipografia */
    --fonte-xs: 0.75rem;
    --fonte-sm: 0.85rem;
    --fonte-md: 1rem;
    --fonte-lg: 1.5rem;
    --fonte-xl: 2rem;

    /* espaçamentos*/
    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;
    --espaco-5: 3rem;

}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: var(--fonte-md);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--espaco-4);
}

header{
    background-color: var(--cor-primaria);
    color: var(--cor-superficie);
    padding: var(--espaco-2) var(--espaco-4);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav{
    display: flex;
    gap: var(--espaco-2);
}

nav a {
    color: var(--cor-superficie);
    text-decoration: none;
    font-weight: bold;

}

nav a:hover {
    color: var(--cor-secundaria);

}

section {
    margin-bottom: var(--espaco-4);

}

h1 {
    font-size: var(--fonte-xl);
}
h2,
h3 {
    line-height: 1.2;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--espaco-2);
}

.projetos h2 {
    grid-column: 1 / -1;

}

.projetos article {
    grid-column: span 4;
    background-color: var(--cor-superficie);
    padding: var(--espaco-2);
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--espaco-2);
}

/* breakpoint extra pequeno */
@media (max-width: 480px) {
    .projetos article {
        grid-column: span 12;
    }
    nav {
        flex-direction: column;
    }
}

/* breakpoint pequeno*/
@media (min-width: 481px) and (max-width: 767px) {
    .projetos article {
        grid-column: span 12;
    }
}

/* breakpoint medio*/
@media (min-width: 768px) and (max-width: 991px) {
    .projetos article {
        grid-column: span 6;
    }
}

/* breakpoint grande*/
@media (min-width: 992px) and (max-width: 1199px) {
    .projetos article {
        grid-column: span 4;
    }
}

/* breakpoint extra grande*/
@media (min-width: 1200px) {
    .projetos article {
        grid-column: span 4;
    }
}